<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Create New Employee</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color:bisque" ;>
	<div align="left">
		<h1>Create New Employee</h1>
		<div class="col-sm-4">
			<form action="#" th:action="@{/save}" th:object="${employee}" method="post">


				<div alight="left">
					<tr>
						<label class="form-label">First Name</label>

						<td>
							<input type="hidden" th:field="*{id}" />
							<input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name" />

						</td>
					</tr>
				</div>

				<div alight="left">
					<tr>
						<label class="form-label">Last Name</label>
						<td>
							<input type="hidden" th:field="*{id}" />
							<input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name" />

						</td>
					</tr>
				</div>

				<div alight="left">

					<tr>
						<label class="form-label">Designation</label>
						<input type="hidden" th:field="*{id}" />
						<td><input type="text" th:field="*{designation}" class="form-control"
								placeholder="Designation" /></td>

					</tr>
				</div>
				<div alight="left">
					<tr>
						<label class="form-label">Salary</label>
						<input type="hidden" th:field="*{id}" />
						<td><input type="text" th:field="*{salary}" class="form-control" placeholder="Salary" /></td>
					</tr>
				</div>
				<br>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>

					<td colspan="2"> <input type="button" class="btn btn-info" value="Cancel" onclick="history.back()">
				</tr>
				</table>
			</form>
		</div>
</body>

</html>